
/*----------NAVBAR-----------------------------------------------------------------------------------------------------*/
.navbar{
    position: sticky;
    top: 0px;
}
nav{
    background: #EAEAE8; 
}
button.btn{
    background: #1E50B3;
}
div.collapse li a{
    color: #1E50B3;
}
div.collapse li a:hover{
   size: 155%;
  }

/*------------------------------------------------------------------------------------------------------------------------*/

.body-perfil{
    background-color: #abbfe8;
}

.perfil-main{
    display: flex; 
    margin-top:3%;
    height: 100vh;
}
.perfil-row{
    background-color: aliceblue;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    margin-bottom: 1%;
    padding-top: 2%;
}
.photo-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mothership{
    margin: 4% 0%;
    width: 55%;
}
.tecler-perfil{
    height: 18%;
    font-size: 33px;
    margin-left: 25%;  
}
#h1-central{
    margin: 0%;    
}
#h1-dcha{
    margin-left: 0%;
}
.primera{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: none;
}
.first{
    align-items: flex-end;
}
.exception{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    border-top-left-radius: 0.4em;
}
.name-usu{
    display: flex;
}
.col-central{
    display: flex;
    justify-content: center; 
    background-color: aliceblue;
}
.colum-dat-usu{
    display: flex; 
    background-color: aliceblue;
    border-color: aliceblue;   
    border-top-left-radius: 0.4em;
    padding-left: 6%;
}
.bs-icon{
    width: 20%;
}
#dinoFoto{
    width:200px;
    height: 200px;
    margin-bottom: 4%;
    border-style: double;
    border-width: 3px;
    border-radius: 49%;
}
.perfil-img{
    width: 25px;
    height: 25px;
}
.a-perfil{
    text-decoration:none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5%;
}
.p-perfil{
    width: 300px;
    margin-top: 0px;
    margin-left: 20px;   
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 599px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .perfil-main{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cv-container{
        flex-direction: column;
    }
    .perfil-row{
        display: flex;
        flex-direction: column;
    }
    
}
