body {
    background-color: aqua;
}

h1{
    color: rgb(32, 5, 233);
    text-align: center;

}

.contenedor-Login {
    width: 40%;
    padding: 5px;
    margin: 0 auto;
    background-color: rgba(0, 157, 255, 0.502);
}

.tituloLogin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(122, 33, 238);
}

.contenedor-Form {
    width: 90%;
    border-radius: 1em;
    border: rebeccapurple;
    box-shadow: 10px 5px 5px black;
    margin: 0 auto;
    background-color: rgba(165, 42, 165, 0.468);
    
}

form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

