*{
    margin: 0px;
    padding: 0;
} 

/*Principio de nav*/

.navbar{
    padding: 5px;
    background: #EAEAE8;
    position:sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  }

/*Final nav*/

div.col-12{
    padding: 0;
}
div#nav input#search{
    width: 350px;
    margin-left: 15px;
    border-radius: 0.25rem 0px 0px 0.25rem;
}
div#nav input#searchbutton{
    border-radius: 0px 0.25rem 0.25rem 0px;
}
div#sidebar{
    margin-top: 20px;
}

img.profile{
    width: 150px;
    height: 150px;
}
.col-6{
    background: rgb(215, 215, 215);
    border-radius: 1em;
}

.col-6 ul li img{
    width: 50px;
    height: 50px;
}

div#miusuario{
    background: rgb(215, 215, 215);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 1em;
}
div#miusuario ul li img{
    margin-bottom: 15px;
}
div.aceptar-rechazar button{
    margin-left: 5px;
}
.muro1{
  margin: 30px;
}
div.columnaB img.friends{
    width: 75px;
    height: 75px;
}
div.columnaB button#publication{
    margin: 10px;
}
div.space{
    margin: 0;
    margin-top: 15px;
    padding: 1px;
    background: grey;
}
div#reactions button{
    width: 40px;
    margin-left: 5px;
}

.solicitud{
    margin-top: 20%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
}

#rech-button{
    background-color: red
}
#rech-button:hover{
    background-color: rgb(213, 6, 6)
}
#ace-button{
    background-color: rgb(35, 178, 35);
}
#ace-button:hover{
    background-color: rgb(4, 133, 4);
}

.footer{
    display: flex;
    justify-content: center;
    height:30%;
}

.conectados{
    width: 50%;
    display: flex;
    justify-content: space-around;
    /*position:fixed;
    bottom: end;*/
    left: 25%;
    background-color: #67CDFE;
    
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    padding: 9px 0px;
    position: fixed;
    bottom: 0;
    left: 25%;
    
}

.dinosConct{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 6px solid rgb(31, 223, 31);
}

.dinosConct:hover{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid rgb(31, 223, 31);
}

.signoMas{
    width: 43px;
    height: 43px;
    margin-top: 6px;
}

.proyect_text{
    text-align: center;
    font-size: 22px;
}

.col-10 p{
    font-size: large;
    color: black; 
}

.comentarios{
    margin-top: 2%;
}

.projTitle{
    margin-bottom: 0px;
}

/* -------Botones Ver Detalles de los proyectos---------------------------------- */
.detailBut{
    width: 40%;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 0.3em;
    border: 1px solid rgb(0, 0, 0);
}
.detailBut:hover{
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.projBox{
    display: none; 
    position: absolute; 
    background-color: rgb(250, 247, 247);
    width: 300px;
    z-index: 10;
    border: 3px solid rgb(0, 123, 255) ;
    border-radius: 0.5em;
    padding: 8px;
} 
#projectBox1{   
    top: 14%;
    left:20%;
}
#projectBox2{ 
    top: 40%;
    left: 20%;
}
#projectBox3{   
    top: 85%;
    left: 20%;
}
#map {
	height: 250px;
	width: 100%;
}
.closeBox{
    width: 17px;
    height: 17px;
    border: 1px solid rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    position: right;
}
.xClose{
    width: 13px;
    height: 13px; 
}
/* --------------Botones de Likes y Comments en publicaciones------------------------------ */

#likeAnch{
    display: flex;
}

#totalLikes, #totalLikes2, #totalLikes3 {
    color:rgb(115, 18, 179);
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-start;
}

.newComment{
    display: none;
    display: flex;
    margin: 10px 0px 30px 0px;
}
.txtAreaCom{
    display: none;
    background-color: rgb(236, 235, 235);
    height: 50px;
    width: 100%;
    padding: 5px;
}

