* {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



ul {
    list-style-type: none;
}


.notificaciones,
.mensaje,
.ajustes,
.fotoUsuario {
    width: 40px;
    height: 40px;
    margin: 0px 10px 15px 30px;
    background-color: rgb(255, 255, 255);
}

.fotoUsuario {
    border-radius: 50%;
}


main {
    width: 100%;
    background-color: #abbfe8;
    display: flex;
}


/*----------NAVBAR-----------------------------------------------------------------------------------------------------*/
.navbar{
    padding: 5px;
    background: #EAEAE8;
    position:sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  }

/*------------------------------------------------------------------------------------------------------------------------*/


/*-----MAQUETADO DE COLUMNA A -------------------------------------------------------*/

.columnaA {
    width: 19.6%;
    margin: 10px 10px;
}

.newFeeds,
.account {
    padding: 40px 20px;
    border-radius: 1em;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.feedTit {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.feeds {
    margin-top: 10px;
    padding-left: 8px
}

.feeds li {
    margin: 25px 0px;

}

.feeds li p {
    display: inline-block;
}

.feedsIcon {
    width: 20px;
    height: 20px;
}

/*-----MAQUETADO DE BARRA DE BUSQUEDA AMIGOS-----------------------------------------*/
.friends_container {
    width: 77%;

}

.search_friends {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 1em;
}

#nav_friend {
    width: 30%;
    border-radius: 0.02em;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 45%;
    border: none;
}

.input-group {
    width: 35%;
}

.bar_filter {
    display: flex;
}

.div_filter {
    background-color: rgb(236, 237, 237);

}

.bi-funnel-fill {
    width: 100%;
}



/*-----MAQUETADO DE GRID-------------------------------------------------------------*/
.container {
    padding: 10px;
    color: rgb(8, 8, 8);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 35%); */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.item-1 {
    grid-row: 1;
    grid-column: 1;
}

.item {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.add_friend,
.just_friend {
    margin-top: 10px;
    height: 30px;
    border-radius: 4em;
    padding: 5px 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
}

.add_friend {
    background-color: rgb(29, 207, 29);
}

.add_friend:hover {
    background-color: rgb(14, 105, 14);
}

.just_friend {
    background-color: rgb(220, 20, 60);
}

.just_friend:hover {
    background-color: rgb(123, 17, 38);
}


@media (max-width: 996px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
  }

@media (max-width: 730px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
  }

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .columnaA ul li p{
        display: none;
    }
    .columnaA ul li i.bi{
        width: 80px;
    }
  }


/* -----Barra Búsqueda y filtro----------------------------------------------------------- */
.div_filter {
    background-color: rgb(255, 255, 255);
}

.d-none {
    display: none;
}

.friendsCounter {
    color: rgb(171, 191, 232);
}

select {
    width: 60%;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background-color: rgb(180, 187, 187);
    color: #fff;
    border: 1px solid crimson;
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
}

select:hover {
    background-color: rgb(160, 160, 160);
    
}
