* {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Ffondo&psig=AOvVaw2fhX_UDbPN6fy4YEiDr21I&ust=1686342148886000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMiAqpjAtP8CFQAAAAAdAAAAABAE');
}



ul {
    list-style-type: none;
}


.notificaciones,
.mensaje,
.ajustes,
.fotoUsuario {
    width: 40px;
    height: 40px;
    margin: 0px 10px 15px 30px;
    background-color: rgb(255, 255, 255);
}

.fotoUsuario {
    border-radius: 50%;
}


main {
    width: 100%;
    background-color: #abbfe8;
    display: flex;
}


/*----------NAVBAR-----------------------------------------------------------------------------------------------------*/
/* .navbar{
    padding: 5px;
    background: #EAEAE8;
    position:sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  } */

/*------------------------------------------------------------------------------------------------------------------------*/


/*-----MAQUETADO DE COLUMNA A -------------------------------------------------------*/

.columnaA-f {
    width: 19.6%;
    margin: 10px 10px;
}

.newFeeds-f,
.account-f {
    padding: 40px 20px;
    border-radius: 1em;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.feedTit-f {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.feeds {
    margin-top: 10px;
    padding-left: 8px
}

.feeds li {
    margin: 25px 0px;

}

.feeds li p {
    display: inline-block;
}

.feedsIcon {
    width: 20px;
    height: 20px;
}

/*-----MAQUETADO DE BARRA DE BUSQUEDA AMIGOS-----------------------------------------*/
.friends_container-f {
    width: 77%;

}

/* .search_friends-f {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 1em;
} */
.search_friends-f p {
    margin-bottom: 30px 0px;
}

#nav_friend {
    width: 30%;
    border-radius: 0.02em;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 45%;
    border: none;
}

.input-group-f {
    width: 35%;
}

.bar_filter {
    display: flex;
}

.div_filter-f {
    background-color: rgb(236, 237, 237);

}

.bi-funnel-fill {
    width: 100%;
}



/*-----MAQUETADO DE GRID-------------------------------------------------------------*/
.fContainer {
    margin: 0px;
    /* background-color: rgb(166, 200, 248); */
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Ffondo&psig=AOvVaw2fhX_UDbPN6fy4YEiDr21I&ust=1686342148886000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMiAqpjAtP8CFQAAAAAdAAAAABAE);

    padding-top: 10px;
}
#followersContainer{
  /* background-color: rgb(88, 127, 220); */
  border-top: 2px solid rgb(12, 147, 116);
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.numberFollowers{
    margin: 20px 0px
}

#divFollower{
    display: flex;
    font-size: 13px;
    border: 1px solid rgb(159, 158, 158);
    border-radius: 0.3em;
    margin: 20px ;
    padding: 20px;
    background-color: white;
    /* text-align: center; */
    word-wrap: break-word;
    /* box-shadow: 2px 5px 5px gray; */
}
.followDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}
#divFollower h6{
    margin: 5px;
}
#divFollower p{
    margin: 5px;
    font-size: 12px;
    font-style: italic;
}
.postsDiv{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* .item-1 {
    grid-row: 1;
    grid-column: 1;
} */

/* .item {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
} */

/* .item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
} */
.numberUsers{
    color: rgb(12, 147, 116);
}
/* .add_friend,
.just_friend, .following, .users {
    margin-top: 10px;
    height: 30px;
    border-radius: 4em;
    padding: 5px 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
} */

.add_friend, .users{
    background-color: rgb(29, 207, 29);
}

.add_friend:hover, .users:hover {
    background-color: rgb(14, 105, 14);
}

.just_friend, .following {
    background-color: rgb(220, 20, 60);
}

.just_friend:hover, .following:hover {
    background-color: rgb(123, 17, 38);
}


/* @media (max-width: 996px) {
    .container-f {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
  } */

/* @media (max-width: 730px) {
    .container-f {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
  } */

/* @media (max-width: 600px) {
    .container-f {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 220px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .columnaA-f ul li p{
        display: none;
    }
    .columnaA-f ul li i.bi{
        width: 80px;
    }
  } */


/* -----Barra Búsqueda y filtro----------------------------------------------------------- */
.div_filter-f {
    background-color: rgb(255, 255, 255);
}

.d-none {
    display: none;
}

.friendsCounter-f {
    color: rgb(171, 191, 232);
}

select {
    width: 60%;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background-color: rgb(180, 187, 187);
    color: #fff;
    border: 1px solid crimson;
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
}

select:hover {
    background-color: rgb(160, 160, 160);
    
}
