/*----------NAVBAR-----------------------------------------------------------------------------------------------------*/
/* .navbar{
    padding: 5px;
    background: #EAEAE8;
    position: sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  } */

/*------------------------------------------------------------------------------------------------------------------------*/

.body-perfil {
  background-color: #abbfe8;
}

.perfil-main {
  display: flex;
  margin-top: 3%;
  height: 100vh;
}

.perfil-row-b {
  /* background-color: aliceblue; */
  padding-top: 2%;
  /* box-shadow: 2px 3px 0px rgb(177, 220, 255) */

  /* clases sin usar */
   /* border-top-right-radius: 1em; 
  border-top-left-radius: 1em; 
  margin-bottom: 1%; */
}

.photo-container-b {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mothership-b {

  margin: 4% 0%;
  /* width: 55%; */
  display: flex;
  flex-direction: column;
 
  

}

.tecler-perfil-b {
  height: 18%;
  font-size: 33px;
  margin-left: 25%;
}

#h1-central {
  margin: 0%;
}

#h1-dcha {
  margin-left: 0%;
}

.primera {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}

.first {
  align-items: flex-end;
}

.exception-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  border-top-left-radius: 0.4em;
}

.name-usu-b {
  display: flex;
}

.col-central-b {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.colum-dat-usu {
  display: flex;
  /* background-color: aliceblue; */
  border-color: aliceblue;
  border-top-left-radius: 0.4em;
  padding-left: 6%;
}

/* .bs-icon-b {
  width: 20%;
} */

#dinoFoto {
  width: 200px;
  height: 200px;
  margin-bottom: 4%;
  border-style: double;
  border-width: 3px;
  border-radius: 49%;
}

.perfil-img {
  width: 25px;
  height: 25px;
}

.a-perfil-b {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
}

.p-perfil-b {
  width: 300px;
  margin-top: 0px;
  margin-left: 20px;
}

.textareaPerfil {
  width: 350px;
  height: 31px;
  /* margin-top: 0px; */
  margin-left: 88px;
  /* background-color: rgba(117, 233, 249, 0.359); */
  background-color:  rgb(0, 204, 255);
  /* border: #abbfe8; */

  /* border: 3px solid rgba(16, 66, 232, 0.456); */
  /* border: 3px solid rgb(247, 255, 9); */
  border: 3px solid rgb(204, 0, 255);
  /* color: #00ccff; */
  color: #0901f0;
  margin-bottom: 50px;
}

/* .animated-bar {
  position: relative;
  width: 1px;
  height: 30%;
  background-color: #000;
  animation: bar-animation 1s infinite;
}

@keyframes bar-animation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleY(1);
  }
} */

.warningPerfil{
  /* text-align: left; Alineación a la izquierda */
  /* color: rgb(255, 30, 30); Color de texto rojo neón */
  color: rgb(204, 0, 255);
  /* text-decoration: underline; /* Subrayado */
  /* text-decoration-color: rgb(204, 0, 255);  */
  /* margin-top: 100px; */
  /* position: relative; */
  width: 800px;
  height: 30px;
  /* background-color:  rgb(204, 0, 255); */
  /* background-color:  rgb(255, 0, 0); */
  padding-top: 2px;
  /* margin-top: auto; */
margin-top: 50px;

}

#divText1, #divText2 {
  display: block;
  /* width: 100%; */
  
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 599px) {
  .modal-wrap {
    width: calc(100% - 40px);
    padding-bottom: 15px;
  }

  .perfil-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cv-container {
    flex-direction: column;
  }

  .perfil-row-b {
    display: flex;
    flex-direction: column;
  }

}

#foto-b {
  height: 300px;
  width: 300px;

}

#hijo5 {
  height: 300px;
  width: 300px;

}

#guardar-Cancelar-Cambios {
  width: 180px;
  /* margin-left: 560px; */
  /* margin-left: 43.5%; */
  margin: 1rem;
  margin-left: 43.5%;

}

.cancelar-Cambios {
  width: 180px;
  /* margin-left: 560px; */
  margin-left: 43.5%;
}

.warningMensaje {

  width: 1200px;
  text-align: center;
  /* margin: auto; */

  color: #11bd08;
  padding-top: 20px;
  padding-bottom: 10px;

}

#perfilDeUsuario {
  margin: auto;
  margin-bottom: 2%;
}

/* #boton-cancelar-cambios{
 
    background-color:rgba(175, 175, 175, 0.999); 
    
background-color: rgb(213, 6, 6)
} */