
/*----------NAVBAR-----------------------------------------------------------------------------------------------------*/
.navbar{
    padding: 5px;
    background: #EAEAE8;
    position: sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  }

/*------------------------------------------------------------------------------------------------------------------------*/

.body-perfil{
    background-color: #abbfe8;
}

.perfil-main{
    display: flex; 
    margin-top:3%;
    height: 100vh;
}
.perfil-row{
    background-color: aliceblue;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    margin-bottom: 1%;
    padding-top: 2%;
}
.photo-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mothership{
    margin: 4% 0%;
    width: 55%;
}
.tecler-perfil{
    height: 18%;
    font-size: 33px;
    margin-left: 25%;  
}
#h1-central{
    margin: 0%;    
}
#h1-dcha{
    margin-left: 0%;
}
.primera{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: none;
}
.first{
    align-items: flex-end;
}
.exception{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    border-top-left-radius: 0.4em;
}
.name-usu{
    display: flex;
}
.col-central{
    display: flex;
    justify-content: center; 
    background-color: aliceblue;
}
.colum-dat-usu{
    display: flex; 
    background-color: aliceblue;
    border-color: aliceblue;   
    border-top-left-radius: 0.4em;
    padding-left: 6%;
}
.bs-icon{
    width: 20%;
}
#dinoFoto{
    width:200px;
    height: 200px;
    margin-bottom: 4%;
    border-style: double;
    border-width: 3px;
    border-radius: 49%;
}
.perfil-img{
    width: 25px;
    height: 25px;
}
.a-perfil{
    text-decoration:none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5%;
}
.p-perfil{
    width: 300px;
    margin-top: 0px;
    margin-left: 20px;   
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 599px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .perfil-main{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cv-container{
        flex-direction: column;
    }
    .perfil-row{
        display: flex;
        flex-direction: column;
    }
    
}

#foto{
  height: 300px;
  width: 300px;

}

#hijo5{
  height: 300px;
  width: 300px;
  
}