
        :root {
            --colorPrimario: rgb(5, 168, 255);
            --colorSecundario: rgb(10, 4, 16);
            --colorBlanco: white;
            --colorGris: rgb(177, 177, 177)
        }

        html,
        body {
            margin: 0;
        }

        body {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: rgba(68, 147, 204, 0.429);
        }

        .logo {
            text-align: center;
            color: var(--colorPrimario);
        }

        .logo span {
            color: var(--colorSecundario);
        }

        #pagina_inicio {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }

        #pagina_inicio div img {
            width: 300px;

            border-radius: 100%;
            margin: auto;

        }



        .container {

            width: 650px;
            height: 430px;
            text-align: center;
            margin: auto;
            color: aliceblue;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20%;
            padding-top: 50px;
            background-color: rgba(13, 5, 255, 0.573);
            
        }
  