
.navbar{
    padding: 5px;
    position:sticky;
  }
  
  a.navbar-brand img{
    margin-left: 50px;
  }
  
  div.collapse li a{
    color: #1E50B3;
  }
  li.dropdown{
    margin-right: 80px;
  }
  
  #cuentaBoton{
    padding-top: 32px;
  }

  #search{
    padding: 25px 0px;
  }
  
  @media (max-width: 576px){
    a.navbar-brand img{
      margin-left: 10px;
    }
    button.navbar-toggler{
      margin-right: 15px;
    }
    ul.dropdown-menu .dropdown-item{
      margin-left: 15px;
    }
    ul.navbar-nav li.nav-item{
      margin-left: 25px;
    }
    form#search{
      margin: 15px;
    }
  }
  
  @media(max-width:1025px){
    ul.navbar-nav form#search input,ul.navbar-nav form#search button{
      height: 40px;
    }
    ul.navbar-nav li.nav-item{
      font-size: 12px;
      margin-left: 5px;
    }
    a.navbar-brand img{
      margin-left: 5px;
    }
  }